<h2>Cadastrar evento</h2>
<form action="/" method="post">
    <div class="mb-3">
        <label class="form-label">Nome Do Evento</label>
        <input class="form-control" type="text" name="nomeDoEvento">
    </div>
    <div class="mb-3">
        <label class="form-label">Numero De Ingresso Disponiveis</label>
        <input class="form-control" type="text" name="numeroDeIngressosDisponiveis">
    </div>
    <div class="mb-3">
        <label class="form-label">valor Do Ingresso</label>
        <input class="form-control" type="text" name="valorDoIngresso">
    </div>
    <div class="mb-3">
        <label class="form-label">Data</label>
        <input class="form-control" type="text" name="data">
    </div>
    <div class="mb-3">
        <label class="form-label">Horario</label>
        <input class="form-control" type="text" name="horario">
    </div>
    <div class="mb-3">
        <label class="form-label">Local</label>
        <input class="form-control" type="text" name="local">
    </div>
  
    <button type="submit" class="btn btn-primary">Cadastrar</button>

    <a href="/"><button type="button" class="btn btn-success">Voltar</button></a>
</form>